{
  "swagger": "2.0",
  "info": {
    "description": "FlexOffers.com now offers a RESTful Web API that is meant to eventually replace our SOAP-based Web Service.",
    "version": "3.0.0",
    "title": "FlexOffers API"
  },
  "host": "api.flexoffers.com",
  "basePath": "/v3",
  "tags": [
    {
      "name": "Account",
      "description": "Account Details."
    },
    {
      "name": "Links",
      "description": "Promotional links."
    },
    {
      "name": "Cards",
      "description": "Promotional links for credit cards."
    },
    {
      "name": "Products",
      "description": "Product links and data."
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/domains": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve domainAPI response",
        "description": "Retrieves the publisher domain details.",
        "operationId": "domains",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/domain"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/advertisers/advertiserTerms": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve Advertiser's Terms",
        "description": "Retrieves the advertiser's terms and conditions detail.",
        "operationId": "advertiserTerms",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "advertiserId",
            "in": "query",
            "description": "A valid advertiser ID. If a value is supplied, the request will retrieve terms and conditions for specified advertiser.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "string",
              "items": {
                "$ref": "#/definitions/advertiserTerms"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/advertisers/applyAdvertiser": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Apply for advertiser",
        "description": "Apply for any advertiser.",
        "operationId": "applyAdvertiser",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "advertiserId",
            "in": "query",
            "description": "A valid advertiser ID. If a value is supplied, the request will apply for advertiser.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "acceptTerms",
            "in": "query",
            "description": "This will be used to accept terms and conditions.",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "string",
              "items": {
                "$ref": "#/definitions/applyAdvertiser"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/cards": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Retrieve credit card links",
        "description": "Retrieve credit card links that have been approved for your domain. You can specify filters for the results via the query string parameters.",
        "operationId": "Cards",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "advertiserIds",
            "in": "query",
            "description": "A comma-delimited list of advertiser IDs. If a value is supplied, the request will only retrieve Links that belong to the specified advertisers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "advertiserName",
            "in": "query",
            "description": "A string value that retrieves all advertisers name that contain this value. If this value is not supplied, all advertisers name will be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "categoryIds",
            "in": "query",
            "description": "A comma delimited list of category IDs. If a value is supplied, the request will only retrieve links that pertain to the specified categories.",
            "required": false,
            "type": "string"
          },
          {
            "name": "productIds",
            "in": "query",
            "description": "A comma delimited list of card IDs. If a value is supplied, the request will only retrieve links that pertain to the list of IDs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "creditCardName",
            "in": "query",
            "description": "A string value that retrieves all cards that contain this value. If this value is not supplied, all cards will be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "buttonText",
            "in": "query",
            "description": "A string value that retrieves all cards that contain this value in the buttontext",
            "required": false,
            "type": "string"
          },
          {
            "name": "isFeatured",
            "in": "query",
            "description": "This will be used to request to show only cards which have isFeatured to be true",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "consumerCreditRating",
            "in": "query",
            "description": "A comma delimited list of( Excellent, Good, Fair, Poor, No Credit Required). If a value is supplied, the request will only retrieve links that pertain to the specified consumer credit rating.",
            "required": false,
            "type": "string"
          },
          {
            "name": "creditCardNetwork",
            "in": "query",
            "description": "A comma delimited list of CreditCard Networks(VISA, Mastercard, American Express, Discover). If a value is supplied, the request will only retrieve links that pertain to the specified credit card network.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify which page of the data set to request.",
            "required": true,
            "type": "integer",
            "default": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specify the maximum number of records to be retrieved per page. This value must be between 1 and 1000.",
            "required": true,
            "type": "integer",
            "enum": [ 10, 50, 100 ]
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Specify which property to use to sort the links. This value must be one of (Created, Advertiser,PurchaseAprNumeric,CreditCardName). If this value is not supplied, the links are sorted by created date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Specify the sorting direction. Use the parameter value 'asc' to sort in ascending order and 'desc' to sort in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/card"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": "Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },

    "/cards/count": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Count Card",
        "description": "Retrieve the total number of products that matches the given query parameters",
        "operationId": "card/count",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "advertiserIds",
            "in": "query",
            "description": "A comma-delimited list of advertiser IDs. If a value is supplied, the request will only retrieve Links that belong to the specified advertisers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "categoryIds",
            "in": "query",
            "description": "A comma delimited list of category IDs. If a value is supplied, the request will only retrieve links that pertain to the specified categories.",
            "required": false,
            "type": "string"
          },
          {
            "name": "productIds",
            "in": "query",
            "description": "A comma delimited list of card IDs. If a value is supplied, the request will only retrieve links that pertain to the list of IDs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "creditCardName",
            "in": "query",
            "description": "A string value that retrieves all cards that contain this value. If this value is not supplied, all cards will be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "buttonText",
            "in": "query",
            "description": "A string value that retrieves all cards that contain this value in the buttontext",
            "required": false,
            "type": "string"
          },
          {
            "name": "isFeatured",
            "in": "query",
            "description": "This will be used to request to show only cards which have isFeatured to be true",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "consumerCreditRating",
            "in": "query",
            "description": "One of the following values: Excellent, Good, Fair, Poor, No Credit Required. If a value is supplied, the request will only retrieve links that pertain to the specified consumer credit rating.",
            "required": false,
            "type": "string"
          },
          {
            "name": "creditCardNetwork",
            "in": "query",
            "description": "A comma delimited list of CreditCard Networks(VISA, Mastercard, American Express, Discover). If a value is supplied, the request will only retrieve links that pertain to the specified credit card network.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "integer",
                  "description": "The number of cards returned in the query."
                }
              },
              "xml": {
                "name": "Object"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },

    "/cards/categories": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Retrieve credit card related categories",
        "description": "Retrieves a list of categories that are associated with credit cards, including the category IDs.",
        "operationId": "cardCategories",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/creditCardCategory"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },

    "/cards/cardOptions": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Card Options",
        "description": "Retrieve the card options that matches the given query parameters",
        "operationId": "card/cardOptions",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "advertiserIds",
            "in": "query",
            "description": "A comma-delimited list of advertiser IDs. If a value is supplied, the request will only retrieve Links that belong to the specified advertisers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "categoryIds",
            "in": "query",
            "description": "A comma delimited list of category IDs. If a value is supplied, the request will only retrieve links that pertain to the specified categories.",
            "required": false,
            "type": "string"
          },
          {
            "name": "creditCardName",
            "in": "query",
            "description": "A string value that retrieves all cards that contain this value. If this value is not supplied, all cards will be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "consumerCreditRating",
            "in": "query",
            "description": "A comma delimited list of CreditCard Networks(Excellent, Good, Fair, Poor, No Credit Required). If a value is supplied, the request will only retrieve links that pertain to the specified consumer credit rating.",
            "required": false,
            "type": "string"
          },
          {
            "name": "creditCardNetwork",
            "in": "query",
            "description": "A comma delimited list of CreditCard Networks(VISA, Mastercard, American Express, Discover). If a value is supplied, the request will only retrieve links that pertain to the specified credit card network.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/cardOptions"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": "Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Retrieve link categories",
        "description": "Retrieves a list of categories and metadata regarding each category, including the category IDs.",
        "operationId": "categories",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/category"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/advertisers": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Retrieve advertisers",
        "description": "Retrieves a list of advertisers and metadata regarding each advertiser, including the advertiser IDs, for advertisers that are approved for your domain.",
        "operationId": "advertisers",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "AdvertiserIds",
            "in": "query",
            "description": "one or more comma separated Advertiser Ids",
            "required": false,
            "type": "string"
          },
          {
            "name": "Name",
            "in": "query",
            "description": "A string value that retrieves all advertisers that contain this value. If this value is not supplied, all advertisers will be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ProgramStatus",
            "in": "query",
            "enum": [ "Approved", "Deactivated" ],
            "description": "Programs will be filtered based on ProgramStatus.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ApplicationStatus",
            "in": "query",
            "enum": [ "All", "Approved", "Deactivated", "Declined", "Not Applied For", "Pending", "Suspended" ],
            "description": "Programs will be filtered based on ApplicationStatus.",
            "required": true,
            "type": "string"
          },
          {
            "name": "categoryIds",
            "in": "query",
            "description": "A comma delimited list of category IDs. If a value is supplied, the request will only retrieve links that pertain to the specified categories.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Country",
            "in": "query",
            "description": "Programs will be filtered based on Country.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Deeplink/Flexlinks",
            "in": "query",
            "description": "Programs will be filtered based on DeepLink/Flexlinks",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "ProductAdvertiser",
            "in": "query",
            "description": "Programs will be filtered based on ProductAdvertiser",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "AlphabetLetter",
            "type": "string",
            "enum": [
              "A",
              "B",
              "C",
              "D",
              "E",
              "F",
              "G",
              "H",
              "I",
              "J",
              "K",
              "L",
              "M",
              "N",
              "O",
              "P",
              "Q",
              "R",
              "S",
              "T",
              "U",
              "V",
              "W",
              "X",
              "Y",
              "Z"
            ],
            "in": "query",
            "description": "specify the alphabetletter to return only the specified alphabet will come {A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z}"
          },
          {
            "name": "sortColumn",
            "in": "query",
            "enum": [ "Created", "LastStatusUpdated", "LastCommissionUpdated", "ApplicationStatusDate", "SevenDayEpc", "ThirtyDayEpc", "ThreeMonthEpc", "NetworkRank" ],
            "description": "Specify which property to use to sort the links. This value must be one of (Created, LastStatusUpdated, LastCommissionUpdated, ApplicationStatusDate, SevenDayEpc, ThirtyDayEpc, ThreeMonthEpc,NetworkRank). If this value is not supplied, the links are sorted by created date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "enum": [ "ASC", "DESC" ],
            "description": "Specify the sorting direction. Use the parameter value 'asc' to sort in ascending order and 'desc' to sort in descending order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Specify the current Page No.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specify number of records per page.",
            "required": true,
            "type": "integer",
            "enum": [ 5, 10, 25 ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/advertiser"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/deeplink/apideeplink": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Retrieve DeepLinkAPi Response",
        "description": "Retrives DeepLink API Response for given URL.",
        "operationId": "",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "AdvertiserId",
            "in": "query",
            "description": "Allows you to get the Advertiser URL based on Id.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "URL",
            "in": "query",
            "description": "Allows you to set the destination page the user will be redirected to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fobs",
            "in": "query",
            "description": "Allows you to set sub-tracking IDs to your deeplink.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fobs2",
            "in": "query",
            "description": "Allows you to set sub-tracking IDs to your deeplink.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fobs3",
            "in": "query",
            "description": "Allows you to set sub-tracking IDs to your deeplink.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fobs4",
            "in": "query",
            "description": "Allows you to set sub-tracking IDs to your deeplink.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fobs5",
            "in": "query",
            "description": "Allows you to set sub-tracking IDs to your deeplink.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/deeplink"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/promotions": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Retrieve promotional links",
        "description": "Retrieve promotional links that have been approved for your domain. You can specify filters for the results via the query string parameters.",
        "operationId": "promotions",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "linkIds",
            "in": "query",
            "description": "A comma delimited list of link IDs. If a value is supplied, the request will only retrieve links that belong to the specified link ids.",
            "required": false,
            "type": "string"
          },
          {
            "name": "advertiserIds",
            "in": "query",
            "description": "A comma delimited list of advertiser IDs. If a value is supplied, the request will only retrieve links that belong to the specified advertisers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "advertiserName",
            "in": "query",
            "description": "A comma delimited list of advertiser Name. If a value is supplied, the request will only retrieve links that belong to the specified advertisers name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "names",
            "in": "query",
            "description": "Use a comma to separate the list of promotional name search strings. To search for an exact phrase, enclose it in two sets of double quotes, like this: \"\"your phrase\"\". You can use * at the end of a word to search phrases beginning with the given word.",
            "required": false,
            "type": "string"
          },
          {
            "name": "categoryIds",
            "in": "query",
            "description": "A comma delimited list of category IDs. If a value is supplied, the request will only retrieve links that pertain to the specified categories.",
            "required": false,
            "type": "string"
          },
          {
            "name": "promotionalTypeIds",
            "in": "query",
            "description": "A comma delimited list of promotion type IDs. If a value is supplied, the request will only retrieve links that pertain to the specified promotion types.",
            "required": false,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Specifies the lower bound of the startDate",
            "required": false,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Specifies the upper bound of the endDate",
            "required": false,
            "type": "string"
          },
          {
            "name": "couponsOnly",
            "type": "boolean",
            "in": "query",
            "description": "Specify whether to list only promotional links that contain a coupon code. Use the parameter value \"1\" to enable this filter."
          },
          {
            "name": "deepOnly",
            "in": "query",
            "description": "When set to true, only get links that are deep-linkable.",
            "type": "boolean"
          },
          {
            "name": "linkType",
            "type": "string",
            "enum": [
              "All",
              "TextLinks",
              "Banners"
            ],
            "in": "query",
            "description": "specify the linkType to return only the specified type of links as one of {All, TextLinks, Banners}"
          },
          {
            "name": "bannerTypeIds",
            "in": "query",
            "description": "A comma delimited list of Banner type IDs. If a value is supplied, the request will only retrieve links of these banner types",
            "type": "string"
          },
          {
            "name": "minPercentageOff",
            "in": "query",
            "description": "Only get links for which the PercentageOff is greater than or equals this value.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxPercentageOff",
            "in": "query",
            "description": "Only get links for which the PercentageOff is less than or equals this value.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "minDollarOff",
            "in": "query",
            "description": "Only get links for which the DollarOff is greater than or equals this value.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxDollarOff",
            "in": "query",
            "description": "Only get links for which the DollarOff is less than or equals this value.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "alphabetletter",
            "type": "string",
            "enum": [
              "A",
              "B",
              "C",
              "D",
              "E",
              "F",
              "G",
              "H",
              "I",
              "J",
              "K",
              "L",
              "M",
              "N",
              "O",
              "P",
              "Q",
              "R",
              "S",
              "T",
              "U",
              "V",
              "W",
              "X",
              "Y",
              "Z"
            ],
            "in": "query",
            "description": "specify the alphabetletter to return only the specified alphabet will come {A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z}"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify which page of the data set to request.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specify the maximum number of records to be retrieved per page. This value must be between 1 and 1000.",
            "required": true,
            "type": "integer",
            "enum": [ 10, 50, 100 ]
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Specify which property to use to sort the links. This value must be one of (Name, StartDate, EndDate, Epc7d, Epc3M, AdvertiserName). If this value is not supplied, the links are not sorted",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Specify the sorting direction. Use the parameter value \"asc\" to sort in ascending order and \"desc\" to sort in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/promotionsCurated": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Retrieve promotional links new version",
        "description": "Retrieve promotional links that have been approved for your domain. You can specify filters for the results via the query string parameters.",
        "operationId": "promotionCurated",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "linkIds",
            "in": "query",
            "description": "A comma delimited list of link IDs. If a value is supplied, the request will only retrieve links that belong to the specified link ids.",
            "required": false,
            "type": "string"
          },
          {
            "name": "advertiserIds",
            "in": "query",
            "description": "A comma delimited list of advertiser IDs. If a value is supplied, the request will only retrieve links that belong to the specified advertisers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "advertiserName",
            "in": "query",
            "description": "A comma delimited list of advertiser Name. If a value is supplied, the request will only retrieve links that belong to the specified advertisers name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "names",
            "in": "query",
            "description": "Use a comma to separate the list of promotional name search strings. To search for an exact phrase, enclose it in two sets of double quotes, like this: \"\"your phrase\"\". You can use * at the end of a word to search phrases beginning with the given word.",
            "required": false,
            "type": "string"
          },
          {
            "name": "categoryIds",
            "in": "query",
            "description": "A comma delimited list of category IDs. If a value is supplied, the request will only retrieve links that pertain to the specified categories.",
            "required": false,
            "type": "string"
          },
          {
            "name": "promotionalTypeIds",
            "in": "query",
            "description": "A comma delimited list of promotion type IDs. If a value is supplied, the request will only retrieve links that pertain to the specified promotion types.",
            "required": false,
            "type": "string"
          },
          {
            "name": "couponsOnly",
            "type": "boolean",
            "in": "query",
            "description": "Specify whether to list only promotional links that contain a coupon code. Use the parameter value \"1\" to enable this filter."
          },
          {
            "name": "deepOnly",
            "in": "query",
            "description": "When set to true, only get links that are deep-linkable.",
            "type": "boolean"
          },
          {
            "name": "minPercentageOff",
            "in": "query",
            "description": "Only get links for which the PercentageOff is greater than or equals this value.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxPercentageOff",
            "in": "query",
            "description": "Only get links for which the PercentageOff is less than or equals this value.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "minDollarOff",
            "in": "query",
            "description": "Only get links for which the DollarOff is greater than or equals this value.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxDollarOff",
            "in": "query",
            "description": "Only get links for which the DollarOff is less than or equals this value.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "alphabetletter",
            "type": "string",
            "enum": [
              "A",
              "B",
              "C",
              "D",
              "E",
              "F",
              "G",
              "H",
              "I",
              "J",
              "K",
              "L",
              "M",
              "N",
              "O",
              "P",
              "Q",
              "R",
              "S",
              "T",
              "U",
              "V",
              "W",
              "X",
              "Y",
              "Z"
            ],
            "in": "query",
            "description": "specify the alphabetletter to return only the specified alphabet will come {A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z}"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify which page of the data set to request.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specify the maximum number of records to be retrieved per page. This value must be between 1 and 1000.",
            "required": true,
            "type": "integer",
            "enum": [ 10, 50, 100 ]
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Specify which property to use to sort the links. This value must be one of (Name, StartDate, EndDate, Epc7d, Epc3M, AdvertiserName). If this value is not supplied, the links are not sorted",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Specify the sorting direction. Use the parameter value \"asc\" to sort in ascending order and \"desc\" to sort in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/coupons": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Retrieve coupons",
        "description": "Retrieve promotional links that have been approved for your domain. You can specify filters for the results via the query string parameters.",
        "operationId": "coupon",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "advertiserIds",
            "in": "query",
            "description": "A comma delimited list of advertiser IDs. If a value is supplied, the request will only retrieve links that belong to the specified advertisers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "names",
            "in": "query",
            "description": "Use a comma to separate the list of promotional name search strings. To search for an exact phrase, enclose it in two sets of double quotes, like this: \"\"your phrase\"\". You can use * at the end of a word to search phrases beginning with the given word.",
            "required": false,
            "type": "string"
          },
          {
            "name": "categoryIds",
            "in": "query",
            "description": "A comma delimited list of category IDs. If a value is supplied, the request will only retrieve links that pertain to the specified categories.",
            "required": false,
            "type": "string"
          },
          {
            "name": "promotionalTypeIds",
            "in": "query",
            "description": "A comma delimited list of promotion type IDs. If a value is supplied, the request will only retrieve links that pertain to the specified promotion types.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Specifies the lower bound of the startDate",
            "required": false,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Specifies the upper bound of the endDate",
            "required": false,
            "type": "string"
          },
          {
            "name": "deepOnly",
            "in": "query",
            "description": "When set to true, only get links that are deep-linkable.",
            "type": "boolean"
          },
          {
            "name": "linkType",
            "type": "string",
            "enum": [
              "All",
              "TextLinks",
              "Banners"
            ],
            "in": "query",
            "description": "specify the linkType to return only the specified type of links as one of {All, TextLinks, Banners}"
          },
          {
            "name": "bannerTypeIds",
            "in": "query",
            "description": "A comma delimited list of Banner type IDs. If a value is supplied, the request will only retrieve links of these banner types",
            "type": "string"
          },
          {
            "name": "minPercentageOff",
            "in": "query",
            "description": "Only get links for which the PercentageOff is greater than or equals this value.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxPercentageOff",
            "in": "query",
            "description": "Only get links for which the PercentageOff is less than or equals this value.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "minDollarOff",
            "in": "query",
            "description": "Only get links for which the DollarOff is greater than or equals this value.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxDollarOff",
            "in": "query",
            "description": "Only get links for which the DollarOff is less than or equals this value.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify which page of the data set to request.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specify the maximum number of records to be retrieved per page. This value must be between 1 and 500.",
            "required": true,
            "type": "integer",
            "enum": [ 10, 50, 100 ]
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Specify which property to use to sort the links. This value must be one of (Name, StartDate, EndDate, Epc7d, Epc3M). If this value is not supplied, the links are not sorted",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Specify the sorting direction. Use the parameter value \"asc\" to sort in ascending order and \"desc\" to sort in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/promotionTypes": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Retrieve promotion types",
        "description": "Retrieves a list of promotion types and their corresponding metadata, including the promotion type IDs.",
        "operationId": "promotiontypes",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "linkType",
            "type": "string",
            "enum": [
              "All",
              "TextLinks",
              "Banners"
            ],
            "in": "query",
            "description": "specify the linkType to return only the specified type of links as one of {All, TextLinks, Banners}"
          },

          {
            "name": "ApplicationStatus",
            "in": "query",
            "enum": [ "All", "Approved", "Deactivated", "Declined", "Not Applied For", "Pending", "Suspended" ],
            "description": "Programs will be filtered based on ApplicationStatus.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/promotionType"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/promotionTypes/getCountByAdvertiserId": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Retrieve promotion types count by advertiserId",
        "description": "Retrieves a list of promotion types, count and their corresponding metadata, including the promotion type IDs.",
        "operationId": "getCountByAdvertiserId",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "advertiserIds",
            "in": "query",
            "description": "A comma-delimited list of advertiser IDs. If a value is supplied, the request will only retrieve Links that belong to the specified advertisers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "linkType",
            "type": "string",
            "enum": [
              "All",
              "TextLinks",
              "Banners"
            ],
            "in": "query",
            "description": "specify the linkType to return only the specified type of links as one of {All, TextLinks, Banners}"
          },
          {
            "name": "ApplicationStatus",
            "in": "query",
            "enum": [ "All", "Approved", "Deactivated", "Declined", "Not Applied For", "Pending", "Suspended" ],
            "description": "Programs will be filtered based on ApplicationStatus.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/promotionType"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/bannerTypes": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Retrieve standard banner types",
        "description": "Retrieves a list of most popular banner types and their corresponding size and its ID.",
        "operationId": "bannerTypes",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bannerType"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },


    "/campaigns": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Retrieve campaigns",
        "description": "Retrieves a list of all campaigns created by the publisher.",
        "operationId": "campaigns",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/campaign"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },

    "/featuredadvertisers": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Featured Advertisers",
        "description": "Retrieves a list of all Featured Advertisers which are premier.",
        "operationId": "featuredadvertisers",
        "produces": [
          "application/json",
          "application/xml",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "AdvertiserIds",
            "in": "query",
            "description": "A comma-delimited list of advertiser IDs. If a value is supplied, the request will only retrieve Links that belong to the specified advertisers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Name",
            "in": "query",
            "description": "A comma-delimited list of advertiser name. If a value is supplied, the request will only retrieve Links that belong to the specified advertisers.",
            "required": false,
            "type": "string"
          },

          {
            "name": "Country",
            "in": "query",
            "description": "A comma-delimited list of Country. If a value is supplied, the request will only retrieve Links that belong to the specified advertisers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Specify which page of the data set to request.",
            "required": true,
            "type": "integer",
            "default": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Specify the maximum number of records to be retrieved per page. This value must be between 1 and 1000.",
            "required": true,
            "type": "integer",
            "default": 50
          },
          {
            "name": "SortOrder",
            "in": "query",
            "description": "Specify the sorting direction. Use the parameter value 'asc' to sort in ascending order and 'desc' to sort in descending order.",
            "required": false,
            "type": "string"
          }
        ],

        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/campaign"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/newestadvertisers": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Newest Advertisers",
        "description": "Retrieves a list of all Newest Advertisers which are premier.",
        "operationId": "newestadvertisers",
        "produces": [
          "application/json",
          "application/xml",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "description": "Specify which page of the data set to request.",
            "required": true,
            "type": "integer",
            "default": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Specify the maximum number of records to be retrieved per page. This value must be between 1 and 1000.",
            "required": true,
            "type": "integer",
            "default": 50
          },
          {
            "name": "SortOrder",
            "in": "query",
            "description": "Specify the sorting direction. Use the parameter value 'asc' to sort in ascending order and 'desc' to sort in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/campaign"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },
    "/allsales": {
      "get": {
        "tags": [
          "Allsales"
        ],
        "summary": "Retrieve sales",
        "description": "Retrieves a list of sales completed over the specified date range.",
        "operationId": "Allsales",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "enum": [ "all", "pending", "approved", "cancelled", "bonus", "non-commissionable" ],
            "description": "Sales will be filtered based on Status. If 'all' is selected, overall sales appear in result.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportType",
            "in": "query",
            "enum": [ "sales", "details" ],
            "description": "If details is selected sales include solditems.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dateType",
            "in": "query",
            "enum": [ "clickDate", "postedDate", "eventDate", "modifiedDate" ],
            "description": "Sales will be filtered and sorted by DateType.",
            "required": false,
            "type": "string"
          },
          {
            "name": "adjustmentType",
            "in": "query",
            "enum": [ "New Record", "Update Record" ],
            "description": "Sales will be filtered based on AdjustmentType.",
            "required": false,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Specifies the lower bound of the date range.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Specifies the upper bound of the date range, defaults to today if not specified.",
            "required": false,
            "type": "string"
          },
          {
            "name": "programID",
            "in": "query",
            "description": "Specify the advertiser program ID.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "enum": [ "ASC", "DESC" ],
            "description": "Specify the sorting direction. Use the parameter value 'asc' to sort in ascending order and 'desc' to sort in descending order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify which page of the data set to request.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specify the maximum number of records to be retrieved per page. This value must be between 1 and 500.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation For Sales.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/salestransaction"
              }
            }
          },
          "201": {
            "description": "Successful operation for Details.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SalesTransactionDetails"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },

    "/products/advertisers": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve advertisers",
        "description": "Retrieves the list of advertisers, including its ID, of all that are approved for your domain.",
        "operationId": "products/advertisers",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "A string value that retrieves all approved advertisers that contain this value. If this value is not supplied, all approved advertisers will be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify which page of the data set to request.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specify the maximum number of records to be retrieved per page. This value must be between 1 and 500.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/program"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },

    "/products/catalogs": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve catalogs",
        "description": "Retrieves the list of catalog, including the catalog ID, for the given advertiser if it is approved to your domain.",
        "operationId": "products/catalogs",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "aid",
            "in": "query",
            "description": "The advertiser ID for which the list of mapped catalogs is required.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/catalog"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },

    "/products/allcatalogs": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve all catalogs",
        "description": "Retrieves the list of catalog, including the catalog ID, for all advertisers approved to your domain.",
        "operationId": "products/allcatalogs",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "A string value that retrieves all approved advertisers that contain this value. If this value is not supplied, all approved advertisers will be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify which page of the data set to request.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specify the maximum number of records to be retrieved per page. This value must be between 1 and 500.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/catalog"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },

    "/products/categories": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve product categories",
        "description": "Retrieves the list of product categories, including its Id, ParentId and full name to display",
        "operationId": "products/categories",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "catId",
            "in": "query",
            "description": "If omitted gets all categories. If given gets only the next level categories of this given parent category Id. Specify 0 to get the top level categories. Can be combined with or without cid parameter.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cid",
            "in": "query",
            "description": "The Catalog ID. If given restricts only those categories present for the catalog. Omitting both catId and cid will enumerate all categories meta data without product count info.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/productCategory"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },

    "/products/count": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Count products",
        "description": "Retrieve the total number of products that matches the given query parameters in the given catalog.",
        "operationId": "products/count",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "cid",
            "in": "query",
            "description": "The Catalog ID. At least one of cid, name, manufacturer, UPC or EAN is required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "catId",
            "in": "query",
            "description": "The Category ID.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Comma separated list of product name search strings. To search for an exact phrase, enclose it in two sets of double quotes, like this: \"\"your phrase\"\". You can use * at the end of a word to search phrases beginning with the given word. At least one of cid, name, manufacturer, UPC or EAN is required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "manufacturer",
            "in": "query",
            "description": "Comma separated list of manufacturers. Use double quotes to include the comma itself. At least one of cid, name, manufacturer, UPC or EAN is required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "UPCorEANs",
            "in": "query",
            "description": "Comma separated list of UPC or EAN.Use double quotes to include the comma itself. At least one of cid, name, manufacturer, UPC or EAN is required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "MPN",
            "in": "query",
            "description": "Comma separated list of MPN. Use double quotes to include the comma itself.",
            "required": false,
            "type": "string"
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Only get products for which the non Sale Price is greater than or equals this amount.",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Only get products for which the Sale Price if on sale or the Price is less than or equals this amount.",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "Gender",
            "in": "query",
            "description": "Only get products for which the Gender is exactly to this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Size",
            "in": "query",
            "description": "Only get products for which the Size is exactly to this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Color",
            "in": "query",
            "description": "Only get products for which the Color is exactly to this value.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "integer",
                  "description": "The number of products returned in the query."
                }
              },
              "xml": {
                "name": "Object"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },

    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve list of short product descriptions",
        "description": "Retrieve minimal product information which includes a product Id for products from advertisers that have been approved for your domain given the catalog Id. You can specify filters for the results via the query string parameters.",
        "operationId": "Products",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "cid",
            "in": "query",
            "description": "The Catalog ID. At least one of cid, name, manufacturer, UPC or EAN is required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "catId",
            "in": "query",
            "description": "The Category ID.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Comma separated list of product name search strings. To search for an exact phrase, enclose it in two sets of double quotes, like this: \"\"your phrase\"\". You can use * at the end of a word to search phrases beginning with the given word. At least one of cid, name, manufacturer, UPC or EAN is required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "manufacturer",
            "in": "query",
            "description": "Comma separated list of manufacturers. Use double quotes to include the comma itself.  At least one of cid, name, manufacturer, UPC or EAN is required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "UPCorEANs",
            "in": "query",
            "description": "Comma separated list of UPC or EAN. Use double quotes to include the comma itself.  At least one of cid, name, manufacturer, UPC or EAN is required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "MPN",
            "in": "query",
            "description": "Comma separated list of MPN. Use double quotes to include the comma itself.",
            "required": false,
            "type": "string"
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Only get products for which the non Sale Price is greater than or equals this amount.",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Only get products for which the Sale Price if on sale or the Price is less than or equals this amount.",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "Gender",
            "in": "query",
            "description": "Only get products for which the Gender is exactly to this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Size",
            "in": "query",
            "description": "Only get products for which the Size is exactly to this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Color",
            "in": "query",
            "description": "Only get products for which the Color is exactly to this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify which page of the data set to request.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specify the maximum number of records to be retrieved per page. This value must be between 1 and 500.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/productshort"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },

    "/products/full": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve list of full product descriptions",
        "description": "Retrieve full product information which includes a product Id for products from advertisers that have been approved for your domain given the catalog Id. You can specify filters for the results via the query string parameters.",
        "operationId": "products/full",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "cid",
            "in": "query",
            "description": "The Catalog ID. At least one of cid, name, manufacturer, UPC or EAN is required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "catId",
            "in": "query",
            "description": "The Category ID.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Comma separated list of product name search strings. To search for an exact phrase, enclose it in two sets of double quotes, like this: \"\"your phrase\"\". You can use * at the end of a word to search phrases beginning with the given word. At least one of cid, name, manufacturer, UPC or EAN is required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "condition",
            "in": "query",
            "description": "ProductSKu condition value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "min_discount",
            "in": "query",
            "description": "Product Min Discount between SalePrice and Original Price",
            "required": false,
            "type": "string"
          },
          {
            "name": "max_discount",
            "in": "query",
            "description": "Product Max Discount between SalePrice and Original Price",
            "required": false,
            "type": "string"
          },
          {
            "name": "isOnSale",
            "in": "query",
            "description": "If the Product Has SalePrice Then it is true",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "manufacturer",
            "in": "query",
            "description": "Comma separated list of manufacturers. Use double quotes to include the comma itself.  At least one of cid, name, manufacturer, UPC or EAN is required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "UPCorEANs",
            "in": "query",
            "description": "Comma separated list of UPC or EAN. Use double quotes to include the comma itself.  At least one of cid, name, manufacturer, UPC or EAN is required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "MPN",
            "in": "query",
            "description": "Comma separated list of MPN. Use double quotes to include the comma itself.",
            "required": false,
            "type": "string"
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Only get products for which the non Sale Price is greater than or equals this amount.",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Only get products for which the Sale Price if on sale or the Price is less than or equals this amount.",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "PriceCurrency",
            "in": "query",
            "description": "Only get products for which the PriceCurrency is exactly to this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Gender",
            "in": "query",
            "description": "Only get products for which the Gender is exactly to this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Size",
            "in": "query",
            "description": "Only get products for which the Size is exactly to this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Color",
            "in": "query",
            "description": "Only get products for which the Color is exactly to this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Country",
            "in": "query",
            "description": "Only get products for which the Country is exactly to this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Url",
            "in": "query",
            "description": "Only get products for which the Url is to this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify which page of the data set to request.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specify the maximum number of records to be retrieved per page. This value must be between 1 and 500.",
            "required": true,
            "type": "integer",
            "enum": [ 10, 50, 100 ]
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Specify which property to use to sort the products. This value must be one of (Price, SalePrice, Discount).",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Specify the sorting direction. Use the parameter value 'asc' to sort in ascending order and 'desc' to sort in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/productlong"
              }
            }
          },
          "204": {
            "description": "The URI requested is valid, but no content is available."
          },
          "400": {
            "description": "Invalid status value."
          },
          "401": {
            "description": "Unauthorized! You must authenticate with a valid API key."
          },
          "403": {
            "description": "Request forbidden. This is most likely because the request limit has been reached."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested, such as a user, does not exist. Also returned when the requested format is not supported."
          },
          "500": {
            "description": " Something is broken. Please contact support@flexoffers.com so that the team can investigate."
          }
        }
      }
    },

    "/products/pricecomparison": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve a list of products that share the same UPCorEAN and PriceCurrency, based on the given URL",
        "description": "Retrieve a list of products that share the same UPCorEAN and PriceCurrency, based on the given URL",
        "operationId": "products/pricecomparison",
        "produces": [
          "application/xml",
          "application/json",
          "text/csv"
        ],
        "parameters": [
          {
            "name": "Url",
            "in": "query",
            "description": "Only get products for which the Url is to this value.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify which page of the data set to request.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specify the maximum number of records to be retrieved per page. This value must be between 1 and 500.",
            "required": true,
            "type": "integer",
            "enum": [ 10, 50, 100 ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
[...]
